.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
.clearfix {
    clear:both;
}
.col-20 {
    width:20%;
    float:left;
    position:relative;
}
.col-25 {
    width:25%;
    float:left;
    position:relative;
}
.col-33 {
    width:33%;
    float:left;
    position:relative;
}
.col-50 {
    width:50%;
    float:left;
    position:relative;
}
.ui-tabs-nav .phase-closed {
    background-color: rgba(0,255,0,0.3) !important;
}
.ui-tabs-nav .phase-open {
}